@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');
* {
    font-family: 'Cairo', sans-serif;
}
body { 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.logo {
    width: 55px;
    float: left;
    align-items: center;
    transition: 0.9s;
}
.logo:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
.navbar {
    padding: 12px;
    background-color:rgb(41, 41, 41);
    justify-content: space-between;
    height: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
li {
    float: right;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    transition: 0.5s;
}
li a:hover {
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius: 12px;
  }
  li a.active { 
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius: 12px;
  }

.About {
 background-image: linear-gradient(to top,#202020,#000000);
 color: white;
 padding: 20px;
 margin-bottom: 20px;
}
.Headtit {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
